<div ng-switch="calendarMode">
    <div flex layout='row' layout-align='space-between center'>
        <div>
            <button type="button" class="md-button md-primary md-fab md-mini" ng-click="move(-1)">
                <md-icon md-svg-src='arrow-left'></md-icon>
            </button>
        </div>
        <div class='md-title'>{{title}}</div>
        <div>
            <button type="button" class="md-button md-primary md-fab md-mini " ng-click="move(1)">
                <md-icon md-svg-src='arrow-right'></md-icon>
            </button>
        </div>
    </div>
    <dayview ng-switch-when="day"></dayview>
    <monthview ng-switch-when="month"></monthview>
    <weekview ng-switch-when="week"></weekview>
</div>
