<div class="calendar-days">
    <md-divider></md-divider>
    <md-list>
        <md-list-item flex flex-grow layout='row' layout-align='start center'>
            <div flex-grow layout-margin ng-repeat="displayEvent in allDayEvents" ng-click="eventSelected({event:displayEvent.event})">
                <md-toolbar layout-fill class='md-warn'>
                    <div class='md-body-1' layout-padding>{{displayEvent.event.title}}</div>
                </md-toolbar>
            </div>
        </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-list>
        <md-list-item flex layout='row' layout-align='start center' ng-repeat="tm in rows track by $index">
            <div class="sidebar">
                {{tm.time | date: formatHourColumn}}
            </div>
            <div flex-grow  ng-click="select(tm.time)">
                <div ng-class="{'calendar-event-wrap': tm.events}" ng-if="tm.events">
                    <div ng-repeat="displayEvent in tm.events" class="calendar-event" ng-click="eventSelected({event:displayEvent.event})" ng-style="{left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex-displayEvent.startIndex)+'px'}">
                        <div layout-fill class='md-body-1' layout-padding>{{displayEvent.event.title}}</div>
                    </div>
                </div>
                <md-divider></md-divider>
            </div>
        </md-list-item>
    </md-list>
</div>
