<div>
    <div layout-fill class="monthview-datetable monthview-datetable">
        <div flex layout='row'>
            <div ng-show="showWeeks" class="calendar-week-column text-center">#</div>
            <div flex-grow layout='column' layout-align='center center' ng-repeat='label in labels track by $index' class='md-body-2'>{{label}}</div>
        </div>
        <div flex layout='row' ng-repeat="row in rows track by $index" class="calendar-days">
            <div ng-show='showWeeks' class="calendar-week-column text-center">
                <small><em>{{ weekNumbers[$index] }}</em></small>
            </div>
            <div flex-grow layout='column' layout-align='center center' ng-repeat='dt in row track by dt.date'>
                <md-button ng-click="select(dt.date)" class='md-default md-icon-button' ng-class="{'secondary': dt.secondary, 'md-warn': dt.selected, 'md-hue-3': dt.current,'md-hue-2': dt.selected, 'md-raised':dt.hasEvent}">{{dt.label}}</md-button>
            </div>
        </div>
    </div>
    <div ng-if="showEventDetail" class="event-detail-container">
        <md-list flex>
            <md-subheader class="md-no-sticky">{{selectedDate.date|date: 'dd MMM, yyyy'}}</md-subheader>
            <md-list-item class='secondary-button-padding' ng-repeat="event in selectedDate.events" ng-if="selectedDate.events">
                <div class='md-list-item-text' layout='column'>
                    <md-button ng-if='!event.allDay' class='md-secondary'>{{event.startTime|date: 'HH:mm'}} - {{event.endTime|date: 'HH:mm'}}
                    </md-button>
                    <md-button ng-if='event.allDay' class='md-secondary'>All day</md-button>
                    <p class="event-detail" ng-click="eventSelected({event:event})">{{event.title}}</p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item ng-if="!selectedDate.events">
                <h3 class="no-event-label">No Events</h3></md-list-item>
        </md-list>
    </div>
</div>
