<div class="calendar-days">
    <md-divider></md-divider>
    <header flex layout='row'>
        <div class="sidebar">Week</div>
        <div flex flex-grow layout="row" layout-align="center center" ng-repeat="dt in dates" class="md-body-2">{{dt.date| date: formatWeekViewDayHeader}}</div>
    </header>
    <md-divider></md-divider>
    <section flex layout='row'>
        <div class="sidebar">All Day</div>
        <div flex-grow flex layout='row' layout-align='start center'>
            <div flex-grow ng-repeat="day in dates track by day.date">
                <div ng-class="{'calendar-event-wrap': day.events}" ng-if="day.events" ng-style="{height: 25*day.events.length+'px'}">
                    <div ng-repeat="displayEvent in day.events" class="calendar-event" ng-click="eventSelected({event:displayEvent.event})" ng-style="{top: 25*displayEvent.position+'px', width: 100*(displayEvent.endIndex-displayEvent.startIndex)+'%', height: '25px'}">
                        <div class="calendar-event-inner">{{displayEvent.event.title}}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <md-divider></md-divider>
    <section flex layout='column'>
        <div flex layout='row' ng-repeat="row in rows track by $index">
            <div class="sidebar">
                {{row[0].time | date: formatHourColumn}}
                <md-divider></md-divider>
            </div>
            <div flex-grow flex layout='row' layout-align='start center'>
                <div flex-grow ng-repeat="tm in row track by tm.time" class="calendar-cell" ng-click="select(tm.time)">
                    <div class='calendar-event-wrap' ng-repeat="displayEvent in tm.events">
                        <div class="calendar-cell" ng-click="select(tm.time)">
                            <div ng-class="{'calendar-event-wrap': tm.events}" ng-if="tm.events">
                                <div ng-repeat="displayEvent in tm.events" class="calendar-event" ng-click="eventSelected({event:displayEvent.event})" ng-style="{left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex-displayEvent.startIndex)+'px'}">
                                    <div class="calendar-event-inner">{{displayEvent.event.title}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </div>
            </div>
        </div>
    </section>
</div>
